// Place all the styles related to the analyst controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//= require_self
//= require jquery-ui


#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  outline-width: 5px;
  outline-style: ridge;
  outline-color: gray;
}

#columns {

}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: white;
}
